// page.module.scss

@import "@/styles/index.scss";

.main {
    background-image: url("/Hero.webp");
    height: 100vh;
    background-size: cover;
    background-position: center; 
    position: relative; 
}

.errorMsg {
    color: red;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main {
        background-size: contain; /* Adjust background size for smaller screens */
    }

    .form {
        padding: 20px; /* Decrease form padding on smaller screens */
    }

    .button_wrapper {
        flex-direction: column;
        align-items: center; /* Center buttons vertically on smaller screens */
    }
}
