// page.module.scss

@import "@/styles/index.scss";

.main {
    padding-bottom: 150px;
}

.form_wrapper {
    background-color: var(--avis-card-color);
    padding: 20px;
    width: 100%; /* Adjust width for smaller screens */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.button {
    background-color: $orange;
    color: white;
    border-radius: 10px;
    padding: 10px 25px;
    border: 2px solid $orange;
    width: max-content;
    min-width: 125px;
}

@media screen and (max-width: 768px) {
    .form_wrapper {
        padding: 10px; /* Decrease padding on smaller screens */
    }

    .button {
        min-width: 100px; /* Adjust button width for smaller screens */
    }
}
