@import "@/styles/index.scss";

 /*
  * form
  */
.form_wrapper {
    background-color: #EDEDED;
    padding: 20px 50px;
    width: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
