$darkblue: #181E4B;
$nightblue: #050560;
$orange: #DF6951;
$padding: 80%;

.light {
    --background-color: #fff;
    --text-card-color: #181E4B;
    --title-color: #181E4B;
    --text-color: #181E4B;
    --card-color: #fff;
    --header-color: #050560;
    --button-theme: #fff; 
    --image-color: #181E4B; 
    --avis-card-color: #EDEDED;
  }
  
.dark {
    --background-color: #2A324B;
    --text-card-color: #fff;
    --title-color: #fff;
    --text-color: #fff;
    --card-color: #181E4B;
    --header-color: #181E4B;
    --button-theme: #000;
    --image-color: #EDEDED;
    --avis-card-color: #181E4B;
}