@import "@/styles/index.scss";

.main {
  padding-bottom: 150px;
}

 /*
  * form
  */
.form_wrapper {
    background-color: var(--avis-card-color);
    padding: 20px 50px;
    width: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.form {
  width: 100%;
}

.button {
  background-color: $orange;
  color: white;
  border-radius: 10px;
  padding: 10px 25px;
  border: 2px solid $orange;
  width: max-content;
  min-width: 125px;
}
